* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  font-family: sans-serif;
}

#cursor {
  color: rgb(97, 168, 192);
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
