* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: absolute;
  background-color: lightgray;
  inset: 40px 200px 40px 40px;
  border-radius: 1rem;
}

.slider .slides {
  position: absolute;
  width: 240px;
  height: 320px;
  border-radius: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  background: var(--img);
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0);
}

.slider .slides:nth-child(3) {
  left: calc(50% + 140px);
}
.slider .slides:nth-child(4) {
  left: calc(50% + 400px);
}
.slider .slides:nth-child(5) {
  left: calc(50% + 660px);
}
.slider .slides:nth-child(6) {
  left: calc(50% + 920px);
}

.buttons {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 1rem;
}

.buttons span {
  position: relative;
  background-color: black;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons span::before {
  content: "";
  position: absolute;
  width: 15px;
  aspect-ratio: 1;
  border-top: 4px solid white;
  border-left: 4px solid white;
  transform: rotate(315deg) translate(2px, 2px);
}

.buttons span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px, 2px);
}

.buttons span:active {
  opacity: 0.5;
}
