* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: lightcyan;
    margin-inline: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
    display: grid;
    place-items: center;
}

.container__card {
    display: grid;
    row-gap: 3.5rem;
}

.container__card-article {
    position: relative;
    overflow: hidden;
    width: 328px;
    border-radius: 1.5rem;
    transition: all 1s;
}

.container__card-image {
    width: 100%;
    overflow: hidden;
    border-radius: inherit;
    transition: all 1s;
}


.container__card-content {
    width: 280px;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 1;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    overflow: hidden;
    transition: all 1s;
}

.container__card-description {
    font-size: 0.9rem;
    margin-bottom: 0.45rem;
    color: gray;
}

.container__card-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: lightslategray;
    margin-bottom: 0.75rem;
}

.container__card-button {
    font-size: 0.9rem;
    font-weight: 500;
    color: darkgreen;
    text-decoration: none;
    transition: all 1s;
}

.container__card-button:hover {
    text-decoration: underline;
}

.container__card-article:hover .container__card-content {
    animation: show-card-article-animation 1s forwards;
    opacity: 1;
    transition: all 1s;
}

@keyframes show-card-article-animation {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

.container__card-article:hover {
    animation: remove-card-overflow 2s forwards;
    transform: scale(1.1);
}


@keyframes remove-card-overflow {
    from {
        overflow: hidden;
    }

    to {
        overflow: initial;
    }
}


.container__card-article:not(:hover) .container__card-content {
    animation: remove-card-article-animation 1s forwards;
}

@keyframes remove-card-article-animation {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-0.5rem);
    }
}


.container__card-article:not(:hover) {
    animation: add-card-overflow 2s forwards;
}


@keyframes add-card-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/* Small devices */
@media screen and (min-width : 320px) {

    .container__card {}

    .container__card-article {
        width: 250px;
    }

    .container__card-content {
        width: 200px;
        padding: 1rem;
    }

    .container__card-description {
        font-size: 0.7rem;
    }

    .container__card-title {
        font-size: 1rem;
    }

    .container__card-button {
        font-size: 0.7rem;
        font-weight: 500;
    }

    .container__card-article:hover {
        transform: scale(1);
    }
}

/* Medium devices */
@media screen and (min-width : 768px) {

    .container__card {
        margin: 1rem;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .container__card-article {
        width: 280px;
    }

    .container__card-content {
        width: 250px;
        padding: 1rem;
    }
}